.NotificationPage {
  /*background-color: #F5F5F5;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  /* color: #fff; */
}

.switchPageButton {
  padding: 100;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  font-size: large;
  width: 40%;
}

.App-header {
  background-color: #00453E;
  width: 100%;
  max-height: 114px;
  margin-bottom: 30px;
}

.App-logo {
  float: left;
  padding: 10px;
  max-width: 150px;
  max-height: 100px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#card-header {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#card-header-header {
  float: left;
}
#card-header-button {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex:  1 1 auto;
  -webkit-flex:  1 1 auto;
  -ms-flex:  1 1 auto;
  flex:  1 1 auto;
  float: right;
}