.NotificationPage {
  /* background-color: #606568; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  /* color: #fff; */
}

.Table {
  padding: 2rem;
}

.notificationCard {

}

.columnleft {
  width: 50%; 
  float:left
}

.columnright {
  width: 50%; 
  float:right
}
